/*fonts*/
@font-face {
    font-family: "Muli-Bold";
    src: url("../assets/fonts/Muli-Bold.ttf");
    font-style: normal;
}

@font-face {
"Muli-Regular";
    src: url("../assets/fonts/Muli-Regular.woff");
    font-style: normal;
}

@font-face {
"Muli-ExtraBold" ;
    src: url("../assets/fonts/Muli-ExtraBold.woff");
    font-style: normal;
}

@font-face {
"Muli-Italic";
    src: url("../assets/fonts/Muli-Italic.ttf");
    font-style: normal;
}


/*common styles*/
ul {
    list-style: none;
    margin: 0;
}

a {
    display: inline-block;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

html,
body {
    font-family: Muli-Regular, sans-serif;
}

header {
    height: 100vh;
    background: url("../assets/images/header/header-bg-img.png") no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
}

.header__top {
    padding: 70px 100px 100px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*menu*/
.main-menu__list {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;


}

.main-menu__list-item {
    margin-right: 35px;


}

.main-menu__list-item:last-child {
    margin-right: 0;
}

.main-menu__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: Muli-Bold, sans-serif;
    color: white;
}

/*logo*/
.logo {
    border: 1px solid red;
}

/*personal*/
.header__right-block {
    width: 420px;
    display: flex;
    justify-content: space-between;
}

.personal__list {
    border: 1px solid red;
    display: flex;
}

.personal__list-item {
    margin-right: 45px;
}

.personal__list-item:last-child {
    margin-right: 0;
}

.personal__cart-count {
    background-color: white;
    display: inline-block;
    height: 18px;
    width: 18px;
    text-align: center;
    border-radius: 50%;
    line-height: 2;
    font-size: 10px;
    color: black;
}

/*social*/

.social__list {
    border: 1px solid red;
    display: flex;
}

.social__list-item {
    margin-right: 10px;
}

.social__list-item:last-child {
    margin-right: 0;
}

.social__link {
    display: inline-block;
    height: 35px;
    min-width: 35px;
    max-width: 35px;
    background-color: white;
    text-align: center;
    line-height: 2.3;
    border-radius: 50%;
}

/*header content*/
.header__content {
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

/*btn*/
.header__btn {
    height: 70px;
    width: 280px;
}

.btn {
    border-radius: 35px;
    font-size: 24px;
    font-family: Muli-ExtraBold, sans-serif;
    padding: 0 35px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px #0aa566;


}

.btn--green {
    background-color: #0aa566;
}

/*common titles*/
h2 {
    font-family: Muli-ExtraBold, sans-serif;
    line-height: 0.8;
    letter-spacing: -1px;
    text-decoration: none;
    font-size: 50px;
    color: #f7ae3b;
}

/*section smoothies*/
.smoothies {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6edde;
}

.smoothies__title {
    margin-top: 98px;
    margin-bottom: 55px;


}

.text {
    font-family: Muli-Regular, sans-serif;

}

/*отображение текста не соответсвует макету, другой шрифт*/
.smoothies__text {
    text-align: center;
    width: 921px;
    height: 122px;
    font-size: 18px;
    line-height: 1.94;
    letter-spacing: normal;
    color: #1e1e1e;
}

.smoothies__advantage {
    border: 1px solid red;
    width: 1010px;
    height: 389px;
    margin: 61px 457px 107px 453px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.advantage__figure {
    border: 1px solid red;
    width: 252px;
    height: 181px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}


.advantage__figcaption {
    font-family: Muli-ExtraBold, sans-serif;
    font-size: 25px;
    font-weight: 800;
    line-height: 1.6;
    letter-spacing: -0.5px;
    color: #f2612d;
    border: 1px solid red;
}


.about {
    background-color: #188b70;
}


/*products section*/

.products {
    border: 1px solid red;
    display: flex;
    flex-direction: row;







}

.products-menu {
    border: 1px solid red;
    width: 25%;
    height: 720px;
    font-family: Muli-Bold, sans-serif;
    font-size: 24px;
    line-height:1.6;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


}
/*TODO уменьшить расстояние от картинки до текста*/
.products__img {
    border: 1px solid red;
    width: 119px;
    height: 303px;

}

/*white text positioning*/
.products__titles-white{
    border: 1px solid red;
    display: flex;
    flex-flow: column nowrap;
   align-items: center;


}


.products__text {
    font-size: 21px;
    line-height: 1.52;
    font-style: italic;
    font-weight: normal;
    font-family: Muli-Regular, sans-serif;


}

.products__btn {
    width: 204px;
    height: 60px;
    background: none;
    border-radius: 30px;
    border: solid 2px #ffffff;

}


.products__menu-brown {
    background-color: #602a1a;

}


.products__menu-green {
    background-color: #188b70;

}

.products__menu-yellow {
    background-color: #f5b33f;

}

.products__menu-orange {
    background-color: #c54317;

}


.testimonials {
    background-color: #653018;
}


.footer__top {
    background-color: #f7ae3e;
}

.footer__bottom {
    background-color: #6a2b1f
}
