/*fonts*/
@font-face {
    font-family: "Muli-Bold";
    src: url("../assets/fonts/Muli-Bold.ttf");
    font-style: normal;
}

@font-face {
"Muli-Regular";
    src: url("../assets/fonts/Muli-Regular.woff");
    font-style: normal;
}

@font-face {
"Muli-ExtraBold" ;
    src: url("../assets/fonts/Muli-ExtraBold.woff");
    font-style: normal;
}

@font-face {
"Muli-Italic";
    src: url("../assets/fonts/Muli-Italic.ttf");
    font-style: normal;
}


/*common styles*/
ul {
    list-style: none;
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


html,
body {
    font-family: Muli-Regular, sans-serif;
}

header {
    height: 100vh;
    background: url("../assets/images/header/header-bg-img.png") no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
}

.header__top {
    padding: 70px 100px 100px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/*menu*/
.main-menu__list {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;


}

.main-menu__list-item {
    margin-right: 35px;


}

.main-menu__list-item:last-child {
    margin-right: 0;
}

.main-menu__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: Muli-Bold, sans-serif;
    color: white;
}

/*logo*/
.logo {
    border: 1px solid red;

}
.header__logo{
    position:absolute;
    top:54px;
    left: 843px;
}

/*personal*/
.header__right-block {
    border: 2px solid olive;
    width: 420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header__right-block::before{
    content: "";
    display: block;
    width: 47px;
    height: 2px;
    position: absolute;
    background: url("../assets/images/header/line_.png");
    top:17px;
    left: 50%;
}

.personal__list {
    border: 1px solid olive;
    display: flex;
    align-items: center;

}

.personal__list-item {
    margin-right: 45px;
}


.personal__list-item:last-child {
    margin-right: 0;
}

.personal__cart-count {
    background-color: white;
    display: inline-block;
    height: 18px;
    width: 18px;
    text-align: center;
    border-radius: 50%;
    line-height: 2;
    font-size: 10px;
    color: black;
}

/*social*/

.social__list {
    border: 1px solid red;
    display: flex;

}

.social__list-item {
    margin-right: 10px;
}

.social__list-item:last-child {
    margin-right: 0;
}

.social__link {
    display: inline-block;
    height: 35px;
    min-width: 35px;
    max-width: 35px;
    background-color: white;
    text-align: center;
    line-height: 2.3;
    border-radius: 50%;
}

/*header content*/
.header__content {
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

/*btn*/
.header__btn {
    height: 70px;
    width: 280px;
    position: relative;
}
.header__btn::after{
    content: "";
    display: block;
    position:absolute;
    width: 30px;
    height: 16px;
    background: url("../assets/images/header/arrow.png");
    top: 27px;
    left:211px;
}

.btn {
    border-radius: 35px;
    font-size: 24px;
    font-family: Muli-ExtraBold, sans-serif;
    padding: 0 35px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px #0aa566;
}

.btn--green {
    background-color: #0aa566;
}

/*common titles*/
h2 {
    font-family: Muli-ExtraBold, sans-serif;
    line-height: 0.8;
    letter-spacing: -1px;
    text-decoration: none;
    font-size: 50px;
    color: #f7ae3b;
}

h4 {
    font-family: Muli-ExtraBold, sans-serif;
}

/*section smoothies*/
.smoothies {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6edde;
}

.smoothies__title {
    margin-top: 98px;
    margin-bottom: 55px;

}

.text {
    font-family: Muli-Regular, sans-serif;
    line-height: 1.94;
    font-size: 18px;
    letter-spacing: normal;

}

/* TODO отображение текста не соответсвует макету, другой шрифт*/
.smoothies__text {
    text-align: center;
    width: 921px;
    height: 122px;
    color: #1e1e1e;
}

.smoothies__advantage {
    border: 1px solid red;
    width: 1010px;
    height: 389px;
    margin: 61px 457px 107px 453px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.advantage__img-wrap {
    border: 1px solid red;
    width: 252px;
    height: 181px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.advantage__title {
    font-family: Muli-ExtraBold, sans-serif;
    font-size: 25px;
    font-weight: 800;
    line-height: 1.6;
    color: #f2612d;
    border: 1px solid red;
}


/* section about */
.about {
    border: 5px solid rebeccapurple;
    background-color: #188b70;
    display: flex;
    justify-content: space-between;

}

.about__img-wrap {
    padding-right: 142px;
    padding-left: 143px;
    position: relative;
    top: 89px;
}

.about__img {
    /*min-width: 691px;*/
    /*min-height: 818px;*/
    border: 1px solid;
}

.about__benefits {
    border: 2px solid rebeccapurple;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 356px;
    padding-top: 97px;
    padding-bottom: 94px;

}

.about__title {
    border: 1px solid red;
    min-width: 588px;
    font-size: 55px;
    line-height: 1.09;
    text-align: left;
    color: #ffffff;
    position:relative;

}
.about__title::after{
    content:"";
    display: block;
    width: 450px;
    height: 13px;
    background: url("../assets/images/about/line.png")center;
    position:absolute;
    bottom:-8px;
    left:69px;
}

.about__title--green {
    color: #cae941;
}

.about__list {
    list-style: url("../assets/images/about/marker.png");
    border: 1px solid red;
    font-size: 21px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding-left: 29px;
}

.text--bold {
    font-weight: 800;
}

.about__btn {
    width: 380px;
    height: 60px;
    border-radius: 30px;
    border: solid 2px #f8b231;
    background: none;
    position: relative;
}
.about__btn::after{
content:"";
    display: block;
    width: 30px;
    height: 16px;
    position: absolute;
    background: url("../assets/images/about/arrow.png");
    top: 21px;
    right: 29px ;

}


/*products section*/

.products {
    border: 1px solid red;
    display: flex;
}

.products-menu {
    border: 1px solid red;
    font-family: Muli-Bold, sans-serif;
    font-size: 24px;
    line-height: 1.6;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 25%;
    padding-top: 129px;
    padding-bottom: 79px;
}

/*TODO уменьшить расстояние от картинки до текста*/
.products__img {
    border: 1px solid red;
    width: 119px;
    height: 303px;
    margin-bottom: 34px;
}

/*white text positioning*/
.products__titles-white {
    border: 1px solid yellow;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}


.products__text {
    font-size: 21px;
    line-height: 1.52;
    font-style: italic;
    font-weight: normal;
    font-family: Muli-Regular, sans-serif;
}

.products__btn {
    width: 204px;
    height: 60px;
    margin-top: 65px;
    background: none;
    border-radius: 30px;
    border: solid 2px #ffffff;
    position: relative;
}
.products__btn::after{
    content: "";
    display: block;
    width: 30px;
    height: 16px;
    background: url("../assets/images/products/arrow_white.png");
}

.products__menu-brown {
    background-color: #602a1a;
}

.products__menu-green {
    background-color: #188b70;
}

.products__menu-yellow {
    background-color: #f5b33f;
}

.products__menu-orange {
    background-color: #c54317;
}


/*blog story*/
.story {
    display: flex;
    justify-content: space-between;
    background-color: #f6edde;
    border: 2px solid yellow;
    padding: 120px 310px 160px 308px;
}

.story__container {
    border: 2px solid rebeccapurple;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.story__wrap {
    border: 2px solid olive;
    min-height: 329px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.story__title {
    width: 219px;
}

/*TODO Отображение текста не совпадает с макетом*/
.story__text {
    max-width: 511px;
}

.story__btn {
    width: 301px;
    height: 60px;
    background-color: #0aa566;
    border-radius: 30px;
    position: relative;
}
.story__btn::after{
    content: "";
    display: block;
    width: 30px;
    height: 16px;
    background: url("../assets/images/story/arrow.png");
}
.story__img-wrap {
    border: 2px solid rebeccapurple;
    display: flex;
    align-items: center;
    position: relative;
}
.story__img-wrap::before{
    content:"";
    display: block;
    width: 290px;
    height: 216px;
    background: url("../assets/images/story/stamp_.png")center;
    position:absolute;
    top:42px;
    left:-95px;
}
.story__img {
    min-width: 585px;
    min-height: 601px;
    margin-left: 65px;
}


/*testimonials block*/

.testimonials {
    background-color: #653018;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 117px;
    padding-bottom: 80px;
    position: relative;
}
.testimonials::before{
    content:"";
    display: block;
    width: 410px;
    height: 301px;
    background: url("../assets/images/testimonials/dots.png")center;
    position:absolute;
    top:-80px;
    right:58px;
}
.testimonials::after{
    content: "";
    display: block;
    position: absolute;
    width: 764px;
    height: 148px;
    background: url("../assets/images/testimonials/sarahA.png")center;
    top:30%;
    left:438px;

}


.testimonials__wrap {
    border: 2px solid greenyellow;
    min-width: 734px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 121px;
    padding-top: 118px;
    z-index: 1;
}

.testimonials__title--uppercase {
    color: #f2612d;
}

.testimonials__quote-wrap {
    border: 2px solid red;
    max-width: 455px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    line-height: 1.94;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonials__quote {
    border: 2px solid rebeccapurple;
}

.testimonials__quote-cite {
    color: #f7ae3b;
    font-style: italic;
    line-height: 2.5;

}

.testimonials__arrows {
    border: 2px solid papayawhip;
    display: flex;
    justify-content: space-between;
    min-width: 158px;
}


/*blog section*/
.blog {
    border: 2px solid red;
    background-color: #f6edde;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.blog__container {
    border: 2px solid greenyellow;
    display: flex;
    justify-content: center;
    padding-top:99px;
    padding-bottom: 202px;

}

.blog__img-title-wrap {
    border: 2px solid yellow;
    min-height: 497px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 1;
}

.blog__article {
    border: 2px solid rebeccapurple;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 45px;
    padding-left: 61px;
    position: relative;
}
.blog__article::before{
    content: "";
    display: block;
    width: 687px;
    height: 12px;
    background: url("../assets/images/blog/line.png");
    top:167px;
    right: 0;
    position: absolute;
}

.blog__article-title {
    font-size: 30px;
    line-height: 1.33;
    letter-spacing: -0.6px;
    color: #f2612d;
}

.blog__article-text {
    border: 2px solid palegreen;
    width: 472px;
    padding-top:26px;
    position: relative;
}
.blog__article-text::after{
    content: "";
    display: block;
    width: 18px;
    height: 10px;
    position: absolute;
    background: url("../assets/images/blog/arrow.png");
    bottom:12px;
    left:45%;
}

.blog__article-date {
    align-self: flex-start;
    padding-top:20px;
}
.blog__article-link{
    text-decoration: none;
    color:#1e1e1e;
    font-family: Muli-ExtraBold,sans-serif;
    font-style: italic;
    font-weight: 800;
}

/*instagram*/
.instagram {
    border: 2px solid red;
    background-color: #f6edde;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.instagram__img-container {
    border: 3px solid #cae941;
    display: flex;
    align-items: center;
}

.instagram__img-wrap {
    border: 2px solid rebeccapurple;
    display: flex;
    flex: 1 1 20%;
    min-height: 100%;
    position: relative;
}
.instagram__img-wrap::after{
    content: "";
    display: block;
    position: absolute;
    background: url("../assets/images/instagram/icons/instaIcon_white.png")center;
    width: 26px;
    height: 26px;
    bottom:20px;
    right:22px;
}

.instagram__img {
    width: 100%;
}

.instagram__link {
    font-family: Muli-ExtraBold, sans-serif;
    color: #0aa566;
    font-weight: 800;
    line-height: 1.67;
    text-decoration: none;
    font-size: 24px;
    margin-bottom: 45px;
    position: relative;
    min-width: 26px;
}
.instagram__link::before{
    content: "";
    display: block;
    width: 26px;
    height: 26px;
    background: url("../assets/images/instagram/icons/insta_icon.png");
    position: absolute;
    top:8px;
    left: -38px;
}

/*footer*/
.footer {
    border: 2px solid red;
    background-color: #f7ae3b;
}

/*footer top*/
.footer__top {
    border: 3px solid green;
    min-height: 372px;
    display: flex;
}

.footer__logo {
    border: 2px solid blue;
    display: flex;
    align-self: center;
    padding-left: 103px;
    flex: 3 0 300px;
}

.footer__title {
    font-size: 26px;
    color: white;
}

/*information*/
.footer__information {
    border: 2px solid deeppink;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 100px;
    padding-right: 154px;
    padding-top: 79px;
    padding-bottom: 108px;
}

.information__list {
    border: 2px solid chartreuse;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.information__list-link {
    text-decoration: none;
    color: #6d450c;
    font-weight: bold;
    font-family: Muli-Bold, sans-serif;
}

/*payment*/
.footer__payment {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    flex: 2 0 250px;
    padding-top: 79px;
    padding-right: 166px;
    padding-bottom: 93px;
}

.payment__container {
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    align-content: space-between;
    /*min-height:139px ;*/
    /*align-self: center;*/
    flex-basis: 241px;
}
.payment__container:last-child {
    margin-right: 0;
}

.payment__img {
    padding-right: 13px;
}

/*subscription follow us*/
.footer__subscription {
    border: 2px solid cyan;
    display: flex;
    flex: 3 0 300px;
    flex-flow: column wrap;
    padding-top: 79px;
    padding-bottom: 93px;
    padding-right: 100px;
    justify-content: space-between;
}

.subscription__wrap {
    border: 2px solid olive;
    padding-top: 35px;
}

.subscription__form {
    border: 2px solid darkslategrey;
    position: relative;
}
.subscription__form::before{
    content: "";
    display: block;
    width: 24px;
    height: 19px;
    position: absolute;
    background: url("../assets/images/footer/letter_icon.png")center;
    top:21px;
    left: 23px;
}
.subscription__form-input {
    width: 495px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid #f6ab3b;
    font-family: Muli-Bold, sans-serif;
    font-size: 17px;
    font-weight: bold;
    padding-left: 63px;
}

.subscription__form-btn-list-wrap {
    border: 2px solid orangered;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 52px 12px 185px;
    position: relative;
}
.subscription__form-btn-list-wrap::before{
    content: "";
    display: block;
    position: absolute;
    width: 48px;
    height: 43px;
    background: url("../assets/images/footer/arrow_icon.png");
    top: 12px;
    left:120px;
}

.subscription__form-btn {
    border: 2px solid #f6ab3b;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Muli-Bold, sans-serif;
    font-size: 18px;
    font-weight: 800;
    background-color: #f6ab3b;
    color: #6d450c;
}


.subscription__social-list {
    border: 2px solid mediumpurple;
    display: flex;
    justify-content: space-between;
    flex-basis: 130px;
}


/*footer bottom*/
.footer__bottom {
    border: 2px solid ivory;
    background-color: #6a2b1f;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 16px;
    padding-top: 26px;
    padding-bottom: 21px;

}

/*rights reserved text*/
.footer__bottom-text-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.footer__bottom-text {
    border: 2px solid greenyellow;
    font-size: 13px;
    color: #af8a82;
}

/*go top link */
.bottom-to-top {
    border: 5px solid yellow;
    display: flex;
    align-items: center;
    padding-right: 164px;
}

.top__link-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-to-top__link {
    height: 50px;
    min-width: 50px;
    max-width: 50px;
    background-color: #f2662f;
    font-size: 16px;
    border-radius: 5px;
    position: fixed;
    bottom: 50px;
    right:101px;

}
